<div class="container">
    <div class="col-sm-6">
      <img src="images/logo.png" alt="">
    </div>
    <div class="col-sm-6">
      <h1>TestGridJSON</h1>
        <ul>
        <% grid_db.forEach(x => {%>
          <li> Professor: <%= x.prof_name %>, Department: <%= x.department %>, Course ID: <%= x.courseid %>, Office Hours: <%= x.prof_hours %>, Office Location: <%= x.prof_office %></li>
        <% }) %>
        </ul>
    </div>
  </div>     